.root{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    width: 100%;
    &_title{
        font-size: 48px;
        font-family: 'Gully', sans-serif;
        line-height: 100%;
        margin-bottom: 24px;
    }
    &_grid{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr ;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background: var(--gray-10);
        // padding: 12px 16px;
        width: 100%;
        border: 1px solid var(--gray-40);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        &_title{
            font-family: 'Gully', sans-serif;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 1%;
            color: var(--gray-20);
            padding: 12px 16px;
            border-right: 1px solid var(--gray-40);
        }
    }
    &_gridItem{
        @extend .root_grid;
        background: transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom: 1px solid var(--gray-40);
        border-right: 1px solid var(--gray-40);
        border-left: 1px solid var(--gray-40);
        border-top: 0;
        padding: 0;
        &_item{
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 1%;
            color: var(--gray-30);
            border-right: 1px solid var(--gray-40);
            padding: 12px 16px;
            display: flex;
            align-items: center;
            justify-content: start;
        }
        &_button{
            padding: 6px 12px;
            height: 28px;
            color: var(--sapphire-20);
            background: var(--sapphire-60);
            border: 0;
            border-radius: 8px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 1%;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}