.sideBar{
    display: flex;
    flex-direction: column;

    gap: 1vw;

}
.img_block{
    // background: url(public/assets/images/Plantovision_logo_2.png) 0 no-repeat;
    width: 100%;
    height: 5vw;
    background-size: 10vw;
    background-size: contain;
    display: flex;
    align-items: center;
}

.logo{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
}
.logoContainer{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    align-items: center;
    justify-content: center;
}