.root{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
    &_title{
        font-size: 24px;
        font-family: 'Gully', sans-serif;
        line-height: 100%;
        margin-bottom: 24px;
        & span{
            color: var(--sapphire-20);
        }
    }
    &_image{
        width: 100%;
        display: flex;
        justify-content: space-around;
        &_img{
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            font-size: 20px;
        }
    }
    &_buttonGroup{
        padding-top: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & button{
            padding: 6px 12px;
            height: 50px;
            color: var(--sapphire-20);
            // background: var(--sapphire-60);
            border: 0;
            border-radius: 8px;
            font-weight: 500;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 1%;
            vertical-align: middle;
            cursor: pointer;
            padding-bottom: 16px
        }
    }
    &_header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @extend .root_title;
        font-size: 48px;
    }
    &_preview{
        width: 100%;
        padding: 0px 25%;
        height: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_button{
        padding: 6px 12px;
        height: 50px;
        color: var(--sapphire-20);
        // background: var(--sapphire-60);
        border: 0;
        border-radius: 8px;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 1%;
        vertical-align: middle;
        cursor: pointer;
        padding-bottom: 16px
    }
}