.selectContainer {
  border-radius: 10px;
  background-color: var(--unique-white-10);
  position: relative;
  cursor: pointer;
  border: 1px solid var(--gray-40);
}

.selectedWrapper {
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.selectedWrapperLabel{
  position: absolute;
  top: -23.5px;
  left: -1px;
  background-color: transparent;
  // width: 57px;
  text-align: center; 
  height: 14px;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-20);
}
.selectLabel {
  color: var(--gray-30);
  font-size: 12px;
  font-weight: 400;  
}

.dropdown {
  position: fixed;
  top: inherit;
  left: inherit;
  width: 300px;
  overflow: hidden;
  border: 1px solid var(--gray-40);
  background-color: var(--unique-white-10);
  color: var(--gray-30);
  height: 126px;
  border-radius: 10px;
  padding: 8px  8px  8px 15px;
  z-index: 11;

  &__content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}

.dropdown__content::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

.dropdown__content::-webkit-scrollbar-track {
  background: var(--gray-50);
  border-radius: 20px;
}

.dropdown__content::-webkit-scrollbar-thumb {
  background: var(--gray-40);
  border-radius: 20px;
}

.option {
  border-radius: 50px;
  display: flex;
  height: 24px;
  align-items: center;
  gap: 12px;
  
  // &:hover {
  //   background-color: var(--steel-20);
  // }

  &_label {
    color: var(--gray-30);
    font-size: 12px;
    font-weight: 400;
  }
}

[data-size="s"] .selectLabel {
  line-height: 32px;
}
[data-size="m"] .selectLabel {
  line-height: 40px;
}
[data-size="l"] .selectLabel {
  line-height: 40px;
}

.selectContainer[data-size="s"] {
  height: 32px;
}
.selectContainer[data-size="m"] {
  height: 40px;
}
.selectContainer[data-size="l"] {
  height: 40px;
}

.selectContainer[data-disabled="true"] {
  pointer-events: none;
}

.selected_field {
  // background-color: var(--sapphire-30);
}

.highlighted {
  background-color: var(--steel-110);
}

.arrow {
  position: absolute;
  top: 53%;
  right: 6px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_container {
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open {
  border: 1px solid var(--sapphire-20);
}