:root {
  --unique-white-10: #ffffff;
  --white-10: #ffffff;

  --steel-10: rgb(0, 0, 0);
  --steel-20: #D0D3D4;
  --steel-30: #EDEEEF;
  --steel-40: #A2A5A6;
  --steel-50: #EDEEEFB2;
  --steel-60: #D9D9D9;
  --steel-70: #C4CDD5;
  --steel-80: #768194;

  --sapphire-10: #E5EBEC;
  --sapphire-20: #005EB8;
  --sapphire-30: #003087;
  --sapphire-40: #45597A;
  --sapphire-50: #00A3E0;
  --sapphire-60: #005EB81A;
  --sapphire-70: #005EB833;
  --sapphire-80: #00A3E033;
  --sapphire-90: #005EB866;

  --gray-10: #F5F7FA;
  --gray-20: #676B70;
  --gray-30: #2F353D;
  --gray-40: #C0C5CC;
  --gray-50: #E6E8EB;
  --gray-60: #969CA3;
  --gray-70: #C0C5CC66;
  --gray-80: #2C2C2C;
  --gray-90: #383838;

  --ruby-10: #F5290A;
  
  --shadow-100: "3px 4px 8px 0px #0D275040 inset, -4px -3px 10px 0px #FFFFFF inset";
  --shadow-200: "0px 0px 7px 0px #00000059 inset, 0px 0px 10px 0px #7E7E7E";
  --shadow-300: "2px 2px 7px 0px #0D275040 inset, -2px -2px 0px 0px #FFFFFF inset";
  --shadow-400: "2px 2px 6px 0px #0D275040 inset, -1px -1px 4px 0px #FFFFFF inset";
  --shadow-500: 0px 0px 6px 0px #0D275040;
}