/* [project]/features/ResultEditControl/components/ResultEditView/ResultEditView.module.scss.module.css [app-client] (css) */
.ResultEditView-module-scss-module__k5JkkG__root {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 50px;
  display: flex;
  overflow: auto;
}

.ResultEditView-module-scss-module__k5JkkG__root_title, .ResultEditView-module-scss-module__k5JkkG__root_header {
  margin-bottom: 24px;
  font-family: Gully, sans-serif;
  font-size: 24px;
  line-height: 100%;
}

.ResultEditView-module-scss-module__k5JkkG__root_title span, .ResultEditView-module-scss-module__k5JkkG__root_header span {
  color: var(--sapphire-20);
}

.ResultEditView-module-scss-module__k5JkkG__root_image {
  justify-content: space-around;
  width: 100%;
  display: flex;
}

.ResultEditView-module-scss-module__k5JkkG__root_image_img {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  display: flex;
}

.ResultEditView-module-scss-module__k5JkkG__root_buttonGroup {
  padding-top: 50px;
}

.ResultEditView-module-scss-module__k5JkkG__root_buttonGroup button {
  height: 50px;
  color: var(--sapphire-20);
  letter-spacing: 1%;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 6px 12px 16px;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
}

.ResultEditView-module-scss-module__k5JkkG__root_header {
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 48px;
  display: flex;
}

.ResultEditView-module-scss-module__k5JkkG__root_grid, .ResultEditView-module-scss-module__k5JkkG__root_gridItem {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: var(--gray-10);
  border: 1px solid var(--gray-40);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  display: grid;
}

.ResultEditView-module-scss-module__k5JkkG__root_grid_title {
  letter-spacing: 1%;
  color: var(--gray-20);
  border-right: 1px solid var(--gray-40);
  padding: 12px 16px;
  font-family: Gully, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.ResultEditView-module-scss-module__k5JkkG__root_gridItem {
  border-bottom: 1px solid var(--gray-40);
  border-right: 1px solid var(--gray-40);
  border-left: 1px solid var(--gray-40);
  background: none;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

.ResultEditView-module-scss-module__k5JkkG__root_gridItem_item {
  letter-spacing: 1%;
  color: var(--gray-30);
  border-right: 1px solid var(--gray-40);
  justify-content: start;
  align-items: center;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
}

.ResultEditView-module-scss-module__k5JkkG__root_gridItem_button {
  height: 28px;
  color: var(--sapphire-20);
  background: var(--sapphire-60);
  letter-spacing: 1%;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}


/*# sourceMappingURL=ca51a_components_ResultEditView_ResultEditView_module_scss_module_63ef1bee.css.map*/