/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./widgets/SideBar/SideBar.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SideBar_sideBar__7kZjN {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.SideBar_img_block___zxJr {
  width: 100%;
  height: 5vw;
  background-size: 10vw;
  background-size: contain;
  display: flex;
  align-items: center;
}

.SideBar_logo__DaywD {
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
}

.SideBar_logoContainer__VNVN0 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 24px;
  align-items: center;
  justify-content: center;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./shared/ui/NavLinkSideBar/NavLinkSideBar.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NavLinkSideBar_navLink__pGPnH {
  color: var(--steel-180);
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.5vw;
  transition: all 0.3s ease-in-out;
  padding: 0.5vw;
  border-radius: 4px;
}
.NavLinkSideBar_navLink__pGPnH:hover {
  color: var(--sapphire-10);
  background: var(--steel-230);
}

.NavLinkSideBar_item__2MwdQ {
  position: relative;
  z-index: 2;
  width: 100%;
  gap: 8px;
  padding: 8px 16px;
  height: 100%;
  display: flex;
  color: var(--steel-10);
  flex-direction: row;
  justify-content: start;
  border: 0;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.NavLinkSideBar_item__2MwdQ:hover {
  color: var(--sapphire-10) !important;
  background: var(--steel-20) !important;
}
