.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);

  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  padding: 33px 50px 23px 50px;
  border-radius: 12px;
  background-color: var(--steel-20);
  border: 1px solid var(--steel-30);
  z-index: 100001;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 95dvh;
}

.modalContainerWithOutBackground{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  z-index: 100001;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 95dvh;
  max-width: 95vw;
}

.modalMain {
  max-height: calc(95dvh - 118px);
  overflow: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.modalTitle {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modalLabel {
  font-size: 24px;
  font-weight: 500;
  color: var(--sapphire-20);

  @media (max-width: 700px) {
    font-size: 14px;
  }

  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.modalFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}