.menuRight{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    border-right:1px solid var(--steel-170);
    background: var(--gray-80);
    display: flex;
    flex-direction: column;
    z-index: 33;
    gap: 4px;
    &_title{
        font-family: 'Gully', sans-serif;
        color: var(--white-10);
        border-bottom: 1px solid var(--gray-40);
        text-align: center;
        padding-bottom: 10px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &_item{
        font-family: 'Gully', sans-serif;
        display: flex;
        align-items: center;
        gap: 4px;
        height: 28px;
        padding: 2px 4px;
        color: var(--white-10);
        text-align: start;
        background: transparent;
        border: 0;
        border-radius: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1%;
        vertical-align: middle;
        cursor: pointer;
        // transition: all 0.2s ease-in-out;
        &_circle{
            width: 10px;
            height: 10px;
            margin-right: 4px;
            border-radius: 50%;
            border: 1px solid var(--white-10);
        }
        &:hover{
            background: var(--gray-90);
        }
    }

}
.popover{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    &_box{
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-top: 1px solid var(--gray-40);
        border-bottom: 1px solid var(--gray-40);
        padding: 8px 24px;
        &_title{
            font-family: 'Gully', sans-serif;
            color: var(--white-10);
            text-align: start;
            font-size: 18px;
        }
    }
    &_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        // background: var(--gray-10);
        // padding: 12px 16px;
        width: 100%;
        // border: 1px solid var(--gray-40);
        &_title{
            font-family: 'Gully', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 1%;
            color: var(--white-10);
            padding: 12px 16px;
            // border-right: 1px solid var(--gray-40);
        }
        &_item{
            font-family: 'Gully', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 1%;
            color: var(--white-10);
            padding: 12px 16px;
            // border-right: 1px solid var(--gray-40);
        }
        &_color{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 8px;
            justify-content: center;
            cursor: pointer;
        }
        &_input{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 8px;
            justify-content: center;
            cursor: pointer;
        }
    }
    &_button{
        padding: 16px;
        & button{
            padding: 6px 12px;
            height: 28px;
            color: var(--sapphire-20);
            // background: var(--sapphire-60);
            border: 0;
            border-radius: 8px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 1%;
            vertical-align: middle;
            cursor: pointer;
        }
    }
  }