.menuRight{
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    border-right:1px solid var(--steel-170);
    background: var(--gray-80);
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    z-index: 33;
    gap: 4px;
    &_button{
        padding: 6px 12px;
        margin: 10px 10px;
        height: 28px;
        color: var(--sapphire-20);
        // background: var(--sapphire-60);
        border: 0;
        border-radius: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1%;
        vertical-align: middle;
        cursor: pointer;
    }
    &_title{
        font-family: 'Gully', sans-serif;
        color: var(--white-10);
        border-bottom: 1px solid var(--gray-40);
        text-align: center;
        padding-bottom: 10px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &_item{
        font-family: 'Gully', sans-serif;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;
        padding: 4px 8px;
        color: var(--white-10);
        text-align: start;
        background: transparent;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1%;
        vertical-align: middle;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--gray-40);
        // & span {
        //     color: var(--sapphire-20)
        // }
        &_circle{
            width: 10px;
            height: 10px;
            margin-right: 4px;
            border-radius: 50%;
            border: 1px solid var(--white-10);
        }
    }

}

.modal{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;
    &_title{
        font-family: 'Gully', sans-serif;
        color: var(--steel-10);
        text-align: start;
        font-size: 18px;
    }
    &_buttonGroup{
        display: flex;
        gap: 8px;
        flex-direction: column;
        & button{
            padding: 6px 12px;
            color: var(--sapphire-20);
            // background: var(--sapphire-60);
            border: 0;
            border-radius: 8px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 1%;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}