.root{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
    &_button{
        padding: 6px 12px;
        height: 28px;
        color: var(--sapphire-20);
        // background: var(--sapphire-60);
        border: 0;
        border-radius: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1%;
        vertical-align: middle;
        cursor: pointer;
        padding-bottom: 16px
    }
}