.root{
    width: 100vw;
    position: relative;
    height: 100vh;
    z-index: 1;
}
.image{
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 0;
    background: url('../../../../public/assets/images/023_L.jpeg') center center no-repeat;
    background-size: contain;
}
.menuLeft{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow: auto;
    border-right:1px solid var(--steel-170);
    box-shadow: var(--shadow-500);
    background: var(--gray-80);
    display: flex;
    flex-direction: column;
    z-index: 33;
    gap: 4px;
    padding: 24px 24px;
    &_button{
        width: 50px;
        height: 30px;
        background: transparent;
        border: 0;
        cursor: pointer;
        margin-bottom: 20px;
    }
    &_title{
        font-family: 'Gully', sans-serif;
        color: var(--white-10);
        border-bottom: 1px solid var(--gray-40);
        text-align: center;
        padding-bottom: 10px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &_item{
        font-family: 'Gully', sans-serif;
        display: flex;
        align-items: center;
        gap: 4px;
        height: 28px;
        padding: 2px 4px;
        color: var(--white-10);
        text-align: start;
        background: transparent;
        border: 0;
        border-radius: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1%;
        vertical-align: middle;
        cursor: pointer;
        // transition: all 0.2s ease-in-out;
        &_circle{
            width: 10px;
            height: 10px;
            margin-right: 4px;
            border-radius: 50%;
            border: 1px solid var(--white-10);
        }
        &_line{
            width: 10px;
            height: 2px;
            border-radius: 50%;
            transform: rotate(-45deg);
            background: var(--white-10);
        }
        &:hover{
            background: var(--gray-90);
        }
        & input{
            width: 100px;
        }
    }

}

.menuBottom{
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-right:1px solid var(--steel-170);
    box-shadow: var(--shadow-500);
    background: var(--gray-80);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 33;
    gap: 16px;
    padding: 24px 24px;
    & button {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        padding: 4px;
        border: 0;
        background: transparent;
        cursor: pointer;
        &:hover{
            background: var(--sapphire-20);
        }
    }
    &_circle{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid var(--white-10);
    }
    &_line{
        width: 22px;
        height: 2px;
        border-radius: 50%;
        transform: rotate(-45deg);
        background: var(--white-10);
    }
}

.lineHelp{
    position: fixed;
    bottom: 60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border-right:1px solid var(--steel-170);
    box-shadow: var(--shadow-500);
    background: var(--gray-80);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 35;
    gap: 16px;
    padding: 24px 24px;
    color: var(--white-10);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}