.navLink{
    color: var(--steel-180);
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5vw;
    transition: all 0.3s ease-in-out;
    padding: 0.5vw;
    border-radius: 4px;
    &:hover{
        color: var(--sapphire-10);
        background: var(--steel-230);
    }
}

.item{
    position: relative;
    z-index: 2;
    width: 100%;
    gap: 8px;
    padding: 8px 16px;
    height: 100%;
    display: flex;
    color: var(--steel-10);
    flex-direction: row;
    justify-content: start;
    border: 0;
    cursor: pointer;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: var(--sapphire-10) !important;
        background: var(--steel-20) !important;
    }
}