/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./public/assets/index.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --unique-white-10: #ffffff;
  --white-10: #ffffff;
  --steel-10: rgb(0, 0, 0);
  --steel-20: #D0D3D4;
  --steel-30: #EDEEEF;
  --steel-40: #A2A5A6;
  --steel-50: #EDEEEFB2;
  --steel-60: #D9D9D9;
  --steel-70: #C4CDD5;
  --steel-80: #768194;
  --sapphire-10: #E5EBEC;
  --sapphire-20: #005EB8;
  --sapphire-30: #003087;
  --sapphire-40: #45597A;
  --sapphire-50: #00A3E0;
  --sapphire-60: #005EB81A;
  --sapphire-70: #005EB833;
  --sapphire-80: #00A3E033;
  --sapphire-90: #005EB866;
  --gray-10: #F5F7FA;
  --gray-20: #676B70;
  --gray-30: #2F353D;
  --gray-40: #C0C5CC;
  --gray-50: #E6E8EB;
  --gray-60: #969CA3;
  --gray-70: #C0C5CC66;
  --gray-80: #2C2C2C;
  --gray-90: #383838;
  --ruby-10: #F5290A;
  --shadow-100: "3px 4px 8px 0px #0D275040 inset, -4px -3px 10px 0px #FFFFFF inset";
  --shadow-200: "0px 0px 7px 0px #00000059 inset, 0px 0px 10px 0px #7E7E7E";
  --shadow-300: "2px 2px 7px 0px #0D275040 inset, -2px -2px 0px 0px #FFFFFF inset";
  --shadow-400: "2px 2px 6px 0px #0D275040 inset, -1px -1px 4px 0px #FFFFFF inset";
  --shadow-500: 0px 0px 6px 0px #0D275040;
}

html,
body {
  font-size: 100%;
  max-width: 100vw;
  word-wrap: break-word;
  font-family: "DinPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: black;
  background-color: var(--steel-20);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

[type=checkbox],
[type=radio] {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(208, 211, 212, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgba(208, 211, 212, 0.9);
  border-radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Gully";
  src: url(/_next/static/media/Gully-Light.8e5ea9f8.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gully";
  src: url(/_next/static/media/Gully-Regular.d85e8ee6.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gully";
  src: url(/_next/static/media/Gully-Medium.9f8ff3b9.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gully";
  src: url(/_next/static/media/Gully-SemiBold.2194173f.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/_next/static/media/Montserrat-Light.ac0230b4.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/_next/static/media/Montserrat-Regular.54c76208.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/_next/static/media/Montserrat-Medium.62e48611.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/_next/static/media/Montserrat-Bold.0066078b.ttf);
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Gully", sans-serif !important;
  letter-spacing: 1px !important;
  box-sizing: border-box;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

